openapi: 3.0.3
info:
  title: Perfect wed
  description: API для системы планирования свадеб и мероприятий
  version: 1.0.0
servers:
  - url: https://api.perfectwed.com
tags:
  - name: Users
    description: Управление пользователями и аутентификация
  - name: Events
    description: Управление мероприятиями
  - name: Guests
    description: Управление списком гостей
  - name: Checklists
    description: Управление чек-листами
  - name: Tasks
    description: Управление задачами в чек-листах
  - name: Budget
    description: Управление бюджетом мероприятия
  - name: Timeline
    description: Таймлайн дня мероприятия
  - name: Reviews
    description: Управление отзывами    
  - name: Contractors
    description: Управление подрядчиками
  - name: ContractorEvents
    description: Управление связями подрядчиков с мероприятиями
  - name: Admins
    description: Управление администраторами
  - name: Meetings
    description: Управление встречами    
paths:
  #Пользователи
  /api/auth/register:
    post:
      tags: [Users]
      description: Управление пользователями и аутентификация
      summary: "Регистрация нового пользователя"
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - username
              properties:
                email:
                  type: string
                  format: email
                  example: "user@example.com"
                password:
                  type: string
                  format: password
                  minLength: 6
                  example: "securePassword123"
                username:
                  type: string
                  example: "john_doe"
      responses:
        '201':
          description: Пользователь успешно зарегистрирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Неверные данные или email уже занят
        '500':
          description: Внутренняя ошибка сервера
  /api/auth/login:
    post:
      tags: [Users]
      summary: "Аутентификация пользователя"
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: "user@example.com"
                password:
                  type: string
                  format: password
                  example: "securePassword123"
      responses:
        '200':
          description: Успешная аутентификация
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Неверные учетные данные
        '500':
          description: Внутренняя ошибка сервера
  /api/auth/logout:
    post:
      tags: [Users]
      summary: "Выход из системы"
      operationId: logout
      responses:
        '200':
          description: Успешный выход
        '401':
          description: Не авторизован
  /api/users/{User_id}:
    get:
      tags: [Users]
      summary: "Получить данные профиля"
      operationId: getProfile
      parameters:
        - name: User_id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: Данные профиля
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: Пользователь не найден
    put:
      tags: [Users]
      summary: "Обновить данные профиля"
      operationId: updateProfile
      parameters:
        - name: User_id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: "new_username"
                email:
                  type: string
                  format: email
                  example: "new_email@example.com"
      responses:
        '200':
          description: Профиль обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: Пользователь не найден
  /api/users/{id}/password:
    put:
      tags: [Users]
      summary: "Смена пароля"
      operationId: changePassword
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - current_password
                - new_password
              properties:
                current_password:
                  type: string
                  format: password
                  example: "oldPassword123"
                new_password:
                  type: string
                  format: password
                  minLength: 6
                  example: "newSecurePassword456"
      responses:
        '200':
          description: Пароль успешно изменен
        '401':
          description: Текущий пароль неверен
        '404':
          description: Пользователь не найден
  # Мероприятия
  /api/events:
    post:
      tags: [Events]
      summary: "Создание нового мероприятия"
      operationId: createEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventCreate'
      responses:
        '201':
          description: Мероприятие успешно создано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: Неверные данные
        '401':
          description: Не авторизован
  /api/events/{event_id}:
    get:
      tags: [Events]
      summary: "Получить данные мероприятия"
      operationId: getEvent
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          description: Мероприятие не найдено
    put:
      tags: [Events]
      summary: "Обновить данные мероприятия"
      operationId: updateEvent
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventUpdate'
      responses:
        '200':
          description: Мероприятие обновлено
        '404':
          description: Мероприятие не найдено
    delete:
      tags: [Events]
      summary: "Удалить мероприятие"
      operationId: deleteEvent
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Мероприятие удалено
        '404':
          description: Мероприятие не найдено
  # Гости
  /api/events/{Guest_id}/guests:
    post:
      tags: [Guests]
      summary: "Добавить гостя"
      operationId: addGuest
      parameters:
        - name: Guest_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuestCreate'
      responses:
        '201':
          description: Гость успешно добавлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Guest'
  /api/guests/{Guest_id}:
    get:
      tags: [Guests]
      summary: "Получить данные гостя"
      operationId: getGuest
      parameters:
        - name: Guest_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Guest'
    put:
      tags: [Guests]
      summary: "Обновить данные гостя"
      operationId: updateGuest
      parameters:
        - name: Guest_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuestUpdate'
      responses:
        '200':
          description: Данные гостя обновлены
    delete:
      tags: [Guests]
      summary: "Удалить гостя"
      operationId: deleteGuest
      parameters:
        - name: Guest_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Гость удален
  # Чек-листы
  /api/events/{event_id}/checklists:
    post:
      tags: [Checklists]
      summary: "Создать чек-лист"
      operationId: createChecklist
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                  example: "Подготовка к свадьбе"
      responses:
        '201':
          description: Чек-лист создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checklist'
  /api/checklists/{checklist_id}:
    get:
      tags: [Checklists]
      summary: "Получить данные чек-листа"
      operationId: getChecklist
      parameters:
        - name: checklist_id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checklist'
    delete:
      tags: [Checklists]
      summary: "Удалить чек-лист"
      operationId: deleteChecklist
      parameters:
        - name: checklist_id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '204':
          description: Чек-лист удален
        '404':
          description: Чек-лист не найден
  # Задачи
  /api/checklists/{checklist_id}/tasks:
    post:
      tags: [Tasks]
      summary: "Добавить задачу"
      operationId: createTask
      parameters:
        - name: checklist_id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                  example: "Заказать торт"
                due_date:
                  type: string
                  format: date
                  example: "2024-08-15"
                comment:
                  type: string
                  example: "Шоколадный торт на 50 персон"
      responses:
        '201':
          description: Задача создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
  /api/tasks/{task_id}:
    get:
      tags: [Tasks]
      summary: "Получить данные задачи"
      operationId: getTask
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
    put:
      tags: [Tasks]
      summary: "Обновить данные задачи"
      operationId: updateTask
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskUpdate'
      responses:
        '200':
          description: Задача обновлена
    delete:
      tags: [Tasks]
      summary: "Удалить задачу"
      operationId: deleteTask
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '204':
          description: Задача удалена
  # Бюджет
  /api/events/{event_id}/budget-categories:
    post:
      tags: [Budget]
      summary: "Добавить категорию бюджета"
      operationId: addCategory
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - planned_amount
              properties:
                name:
                  type: string
                  example: "Ресторан"
                planned_amount:
                  type: number
                  format: decimal
                  example: 20000.00
      responses:
        '201':
          description: Категория бюджета добавлена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetCategory'
  /api/budget-categories/{budget_category_id}:
    get:
      tags: [Budget]
      summary: "Получить категорию бюджета"
      operationId: getCategory
      parameters:
        - name: budget_category_id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetCategory'
    put:
      tags: [Budget]
      summary: "Обновить категорию бюджета"
      operationId: updateCategory
      parameters:
        - name: budget_category_id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetCategoryUpdate'
      responses:
        '200':
          description: Категория бюджета обновлена
    delete:
      tags: [Budget]
      summary: "Удалить категорию бюджета"
      operationId: deleteCategory
      parameters:
        - name: budget_category_id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '204':
          description: Категория бюджета удалена
  # Таймлайн
  /api/events/{event_id}/timeline:
    post:
      tags: [Timeline]
      summary: "Добавить событие"
      operationId: addTimelineEvent
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimelineCreate'
      responses:
        '201':
          description: Событие добавлено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Timeline'
    get:
      tags: [Timeline]
      summary: "Получить весь таймлайн мероприятия"
      operationId: getEventTimeline
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimelineArray'
  /api/timeline/{timeline_id}:
    get:
      tags: [Timeline]
      summary: "Получить событие таймлайна"
      operationId: getTimelineEvent
      parameters:
        - name: timeline_id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Timeline'
    put:
      tags: [Timeline]
      summary: "Обновить событие таймлайна"
      operationId: updateTimelineEvent
      parameters:
        - name: timeline_id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimelineUpdate'
      responses:
        '200':
          description: Событие обновлено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Timeline'
    delete:
      tags: [Timeline]
      summary: "Удалить событие таймлайна"
      operationId: deleteTimelineEvent
      parameters:
        - name: timeline_id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '204':
          description: Событие удалено
        '404':
          description: Событие не найдено
  # Отзывы  
  /api/contractors/{contractor_id}/reviews:
    post:
      summary: Добавить отзыв
      description: Создание нового отзыва для подрядчика
      tags: [Reviews]
      parameters:
        - name: contractor_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewInput'
      responses:
        '201':
          description: Отзыв успешно создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '400':
          description: Неверные данные отзыва
        '404':
          description: Подрядчик не найден
  /api/reviews/{review_id}:
    get:
      summary: Получить отзыв
      description: Получение информации о конкретном отзыве
      tags: [Reviews]
      parameters:
        - name: review_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Информация об отзыве
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '404':
          description: Отзыв не найден
    put:
      summary: Обновить отзыв
      description: Обновление информации об отзыве
      tags: [Reviews]
      parameters:
        - name: review_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewInput'
      responses:
        '200':
          description: Отзыв успешно обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '400':
          description: Неверные данные для обновления
        '404':
          description: Отзыв не найден
    delete:
      summary: Удалить отзыв
      description: Удаление отзыва
      tags: [Reviews]
      parameters:
        - name: review_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Отзыв успешно удален
        '404':
          description: Отзыв не найден
  # Подрядчики
  /api/admin/contractors:
    post:
      summary: Добавить подрядчика
      description: Создание нового подрядчика (только для администраторов)
      tags: [Contractors]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractorInput'
      responses:
        '201':
          description: Подрядчик успешно создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contractor'
        '400':
          description: Неверные данные подрядчика
        '401':
          description: Не авторизован
        '403':
          description: Нет прав администратора
  /api/contractors:
    get:
      summary: Поиск подрядчиков
      description: Получение списка подрядчиков с фильтрацией по категориям
      tags: [Contractors]
      parameters:
        - name: category
          in: query
          required: false
          schema:
            type: string
            enum: [фотограф, ведущий, флорист, декоратор, музыка]
          description: Фильтр по категории
        - name: search
          in: query
          required: false
          schema:
            type: string
          description: Поиск по названию
      responses:
        '200':
          description: Список подрядчиков
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Contractor'
  /api/contractors/{contractor_id}:
    get:
      summary: Получить данные подрядчика
      description: Получение подробной информации о подрядчике
      tags: [Contractors]
      parameters:
        - name: contractor_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Данные подрядчика
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contractor'
        '404':
          description: Подрядчик не найден
    put:
      summary: Обновить данные подрядчика
      description: Обновление информации о подрядчике (только для администраторов)
      tags: [Contractors]
      parameters:
        - name: contractor_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractorInput'
      responses:
        '200':
          description: Подрядчик успешно обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contractor'
        '400':
          description: Неверные данные для обновления
        '401':
          description: Не авторизован
        '403':
          description: Нет прав администратора
        '404':
          description: Подрядчик не найден
    delete:
      summary: Удалить подрядчика
      description: Удаление подрядчика (только для администраторов)
      tags: [Contractors]
      parameters:
        - name: contractor_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Подрядчик успешно удален
        '401':
          description: Не авторизован
        '403':
          description: Нет прав администратора
        '404':
          description: Подрядчик не найден
  /api/contractors/{contractor_id}/attachments:
    get:
      summary: Получить список файлов
      description: Получение списка прикрепленных файлов подрядчика
      tags: [Contractors]
      parameters:
        - name: contractor_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Список файлов
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example: ["portfolio1.jpg", "price_list.pdf", "contract.docx", "photos.zip"]
        '404':
          description: Подрядчик не найден
    post:
      summary: Загрузить файл
      description: Загрузка файла для подрядчика
      tags: [Contractors]
      parameters:
        - name: contractor_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Файл для загрузки
              required:
                - file
            example:
              file: "portfolio.jpg"
      responses:
        '201':
          description: Файл успешно загружен
          content:
            application/json:
              schema:
                type: object
                properties:
                  filename:
                    type: string
                    example: "portfolio.jpg"
                  message:
                    type: string
                    example: "Файл успешно загружен"
        '400':
          description: Ошибка загрузки файла
        '404':
          description: Подрядчик не найден
  # Связь подрядчик-мероприятие
  /api/events/{event_id}/contractors:
    post:
      summary: Добавить подрядчика к мероприятию
      description: Создание связи между подрядчиком и мероприятием
      tags: [ContractorEvents]
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractorEventInput'
      responses:
        '201':
          description: Подрядчик успешно добавлен к мероприятию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractorEvent'
        '400':
          description: Неверные данные связи
        '404':
          description: Мероприятие или подрядчик не найден
  /api/events/{event_id}/contractors/{contractor_id}:
    delete:
      summary: Удалить подрядчика из мероприятия
      description: Удаление связи между подрядчиком и мероприятием
      tags: [ContractorEvents]
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: integer
        - name: contractor_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Подрядчик успешно удален из мероприятия
        '404':
          description: Связь не найдена
  /api/contractor-events/{contractor_event_id}:
    get:
      summary: Получить данные связи
      description: Получение информации о связи подрядчика с мероприятием
      tags: [ContractorEvents]
      parameters:
        - name: contractor_event_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Данные связи
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractorEvent'
        '404':
          description: Связь не найдена
  /api/contractor-events/{contractor_event_id}/comments:
    put:
      summary: Обновить комментарии к подрядчику на мероприятии
      description: Обновление комментариев о работе подрядчика на конкретном мероприятии
      tags: [ContractorEvents]
      parameters:
        - name: contractor_event_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractorEventCommentsInput'
      responses:
        '200':
          description: Комментарии успешно обновлены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractorEvent2'
        '400':
          description: Неверные данные комментариев
        '404':
          description: Связь не найдена
  # Администраторы 
  /api/admin/admins:
    post:
      summary: Создать администратора
      description: Создание нового администратора (только для суперадминов)
      tags: [Admins]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminInput'
      responses:
        '201':
          description: Администратор успешно создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Admin'
        '400':
          description: Неверные данные администратора
        '401':
          description: Не авторизован
        '403':
          description: Нет прав суперадминистратора
    get:
      summary: Получить список администраторов
      description: Получение списка всех администраторов (только для суперадминов)
      tags: [Admins]
      responses:
        '200':
          description: Список администраторов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Admin'
        '401':
          description: Не авторизован
        '403':
          description: Нет прав суперадминистратора
  /api/admin/admins/{admin_id}:
    get:
      summary: Получить данные администратора
      description: Получение информации об администраторе
      tags: [Admins]
      parameters:
        - name: admin_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Данные администратора
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Admin'
        '401':
          description: Не авторизован
        '403':
          description: Нет прав администратора
        '404':
          description: Администратор не найден
    put:
      summary: Обновить данные администратора
      description: Обновление информации об администраторе (только для суперадминов)
      tags: [Admins]
      parameters:
        - name: admin_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminInput2'
      responses:
        '200':
          description: Администратор успешно обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Admin2'
        '400':
          description: Неверные данные для обновления
        '401':
          description: Не авторизован
        '403':
          description: Нет прав суперадминистратора
        '404':
          description: Администратор не найден
    delete:
      summary: Удалить администратора
      description: Удаление администратора (только для суперадминов)
      tags: [Admins]
      parameters:
        - name: admin_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Администратор успешно удален
        '401':
          description: Не авторизован
        '403':
          description: Нет прав суперадминистратора
        '404':
          description: Администратор не найден
  # Встречи
  /api/meetings:
    post:
      summary: Создать встречу
      description: Создание новой встречи
      tags: [Meetings]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeetingInput'
      responses:
        '201':
          description: Встреча успешно создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meeting'
        '400':
          description: Неверные данные встречи
  /api/meetings/{meeting_id}:
    patch:
      summary: Обновить встречу
      description: Обновление информации о встрече
      tags: [Meetings]
      parameters:
        - name: meeting_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeetingInput2'
      responses:
        '200':
          description: Встреча успешно обновлена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meeting2'
        '400':
          description: Неверные данные для обновления
        '404':
          description: Встреча не найдена
    delete:
      summary: Удалить встречу
      description: Удаление встречи
      tags: [Meetings]
      parameters:
        - name: meeting_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Встреча успешно удалена
        '404':
          description: Встреча не найдена
  /api/meetings/{meeting_id}/sync-calendar:
    post:
      summary: Синхронизировать с календарем телефона
      description: Синхронизация встречи с календарем телефона
      tags: [Meetings]
      parameters:
        - name: meeting_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Встреча успешно синхронизирована с календарем
          content:
            application/json:
              schema:
                type: object
                properties:
                  calendar_event_id:
                    type: string
                    example: "event_12345"
                  message:
                    type: string
                    example: "Встреча добавлена в календарь"
        '404':
          description: Встреча не найдена
  /api/meetings/{meeting_id}/calendar:
    delete:
      summary: Удалить из календаря
      description: Удаление встречи из календаря телефона
      tags: [Meetings]
      parameters:
        - name: meeting_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Встреча успешно удалена из календаря
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Встреча удалена из календаря"
        '404':
          description: Встреча не найдена
components:
  schemas:
    User:
      type: object
      properties:
        user_id:
          type: integer
          example: 1
        username:
          type: string
          example: "john_doe"
        email:
          type: string
          format: email
          example: "user@example.com"
        created_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"
      required:
        - user_id
        - username
        - email
        - created_at
    Event:
      type: object
      properties:
        event_id:
          type: integer
          example: 1
        title:
          type: string
          example: "Наша свадьба"
        date:
          type: string
          format: date
          example: "2024-09-15"
        location:
          type: string
          example: "Ресторан 'Венеция'"
        budget:
          type: number
          format: decimal
          example: 50000.00
        type:
          type: string
          enum: [wedding, bridal_shower, bachelor_party]
          example: "wedding"
        user_id:
          type: integer
          example: 1
        created_at:
          type: string
          format: date-time
      required:
        - event_id
        - title
        - date
        - user_id
        - created_at
    EventCreate:
      type: object
      properties:
        title:
          type: string
          example: "Наша свадьба"
        date:
          type: string
          format: date
          example: "2024-09-15"
        location:
          type: string
          example: "Ресторан 'Венеция'"
        budget:
          type: number
          format: decimal
          example: 50000.00
        type:
          type: string
          enum: [wedding, bridal_shower, bachelor_party]
          example: "wedding"
      required:
        - title
        - date
        - type
    EventUpdate:
      type: object
      properties:
        title:
          type: string
        date:
          type: string
          format: date
        location:
          type: string
        budget:
          type: number
          format: decimal
        type:
          type: string
          enum: [wedding, bridal_shower, bachelor_party]
    Guest:
      type: object
      properties:
        guest_id:
          type: integer
          example: 1
        name:
          type: string
          example: "Анна Иванова"
        category:
          type: string
          example: "family_bride"
        status:
          type: string
          enum: [invited, confirmed, declined]
          example: "invited"
        comment:
          type: string
          example: "Вегетарианское меню"
        event_id:
          type: integer
          example: 1
        created_at:
          type: string
          format: date-time
      required:
        - guest_id
        - name
        - event_id
        - created_at
    GuestCreate:
      type: object
      properties:
        name:
          type: string
          example: "Анна Иванова"
        category:
          type: string
          example: "family_bride"
        comment:
          type: string
          example: "Вегетарианское меню"
      required:
        - name
    GuestUpdate:
      type: object
      properties:
        name:
          type: string
          example: "Анна Иванова"
          description: "Имя гостя"
        category:
          type: string
          example: "family_bride"
          description: "Категория гостя (семья невесты, друзья жениха и т.д.)"
        status:
          type: string
          enum: [invited, confirmed, declined]
          example: "confirmed"
          description: "Статус приглашения"
        comment:
          type: string
          example: "Вегетарианское меню, аллергия на орехи"
          description: "Комментарии и особые пожелания"
    Checklist:
      type: object
      properties:
        checklist_id:
          type: integer
          example: 1
        title:
          type: string
          example: "Подготовка к свадьбе"
        event_id:
          type: integer
          example: 1
        created_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"
    Task:
      type: object
      properties:
        task_id:
          type: integer
          example: 1
        title:
          type: string
          example: "Заказать торт"
        due_date:
          type: string
          format: date
          example: "2024-08-15"
        comment:
          type: string
          example: "Шоколадный торт на 50 персон"
        status:
          type: string
          enum: [not_started, in_progress, completed, problem]
          example: "not_started"
        checklist_id:
          type: integer
          example: 1
        created_at:
          type: string
          format: date-time
      required:
        - task_id
        - title
        - checklist_id
        - created_at
    TaskUpdate:
      type: object
      properties:
        title:
          type: string
          example: "Заказать торт"
        due_date:
          type: string
          format: date
          example: "2024-08-20"
        comment:
          type: string
          example: "Клубничный торт на 60 персон"
        status:
          type: string
          enum: [not_started, in_progress, completed, problem]
          example: "completed"
    BudgetCategory:
      type: object
      properties:
        budget_category_id:
          type: integer
          example: 1
        name:
          type: string
          example: "Ресторан"
        planned_amount:
          type: number
          format: decimal
          example: 20000.00
        actual_amount:
          type: number
          format: decimal
          example: 0.00
          description: "Изначально 0, заполняется по мере расходов"
        event_id:
          type: integer
          example: 1
        created_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"
    BudgetCategoryUpdate:
      type: object
      properties:
        name:
          type: string
          example: "Ресторан Премиум"
          description: "Название категории бюджета"
        planned_amount:
          type: number
          format: decimal
          example: 25000.00
          description: "Запланированная сумма"
        actual_amount:
          type: number
          format: decimal
          example: 5000.00
          description: "Фактически потраченная сумма"
    Timeline:
      type: object
      properties:
        timeline_id:
          type: integer
          example: 1
        time:
          type: string
          format: time
          example: "15:00"
        title:
          type: string
          example: "Церемония"
        description:
          type: string
          example: "Торжественная церемония в зале"
        location:
          type: string
          example: "Банкетный зал"
        event_id:
          type: integer
          example: 1
        created_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"
    TimelineCreate:
      type: object
      required:
        - time
        - title
      properties:
        time:
          type: string
          format: time
          example: "15:00"
        title:
          type: string
          example: "Церемония"
        description:
          type: string
          example: "Торжественная церемония в зале"
        location:
          type: string
          example: "Банкетный зал"
    TimelineUpdate:
      type: object
      properties:
        time:
          type: string
          format: time
          example: "15:30"
        title:
          type: string
          example: "Обновленная церемония"
        description:
          type: string
          example: "Торжественная церемония в саду"
        location:
          type: string
          example: "Сад отеля"
    TimelineArray:
      type: array
      items:
        $ref: '#/components/schemas/Timeline'
      example:
        - timeline_id: 1
          time: "14:00"
          title: "Сбор гостей"
          description: "Встреча гостей, фуршет"
          location: "Лобби отеля"
          event_id: 1
          created_at: "2024-01-15T10:30:00Z"
        - timeline_id: 2
          time: "15:00"
          title: "Церемония"
          description: "Торжественная церемония бракосочетания"
          location: "Банкетный зал"
          event_id: 1
          created_at: "2024-01-15T11:00:00Z"
        - timeline_id: 3
          time: "16:00"
          title: "Фотосессия"
          description: "Свадебная фотосессия в парке"
          location: "Парк отеля"
          event_id: 1
          created_at: "2024-01-15T12:00:00Z"
        - timeline_id: 4
          time: "18:00"
          title: "Банкет"
          description: "Праздничный ужин и развлекательная программа"
          location: "Ресторан"
          event_id: 1
          created_at: "2024-01-15T13:00:00Z"
    Review:
      type: object
      properties:
        review_id:
          type: integer
          example: 1
        rating:
          type: integer
          minimum: 1
          maximum: 5
          example: 5
        comment:
          type: string
          example: "Отличный фотограф, профессиональная работа!"
        user_id:
          type: integer
          example: 123
        contractor_id:
          type: integer
          example: 456
        created_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"
    ReviewInput:
      type: object
      required:
        - rating
        - comment
      properties:
        rating:
          type: integer
          minimum: 1
          maximum: 5
          example: 5
        comment:
          type: string
          example: "Отличный фотограф, профессиональная работа!"
    Contractor:
      type: object
      properties:
        contractor_id:
          type: integer
          example: 1
        name:
          type: string
          example: "Студия свадебной фотографии 'Эмоции'"
        category:
          type: string
          enum: [фотограф, ведущий, флорист, декоратор, музыка]
          example: "фотограф"
        contacts:
          type: string
          example: "+7-999-123-45-67, photo@email.com"
        price:
          type: number
          format: decimal
          example: 50000.00
        booking_date:
          type: string
          format: date
          example: "2024-06-15"
        description:
          type: string
          example: "Профессиональная съемка свадебных мероприятий"
        attachments:
          type: array
          items:
            type: string
          example: ["portfolio1.jpg", "price.pdf"]
        created_at:
          type: string
          format: date-time
          example: "2024-01-10T14:30:00Z"
    ContractorInput:
      type: object
      required:
        - name
        - category
        - contacts
      properties:
        name:
          type: string
          example: "Студия свадебной фотографии 'Эмоции'"
        category:
          type: string
          enum: [фотограф, ведущий, флорист, декоратор, музыка]
          example: "фотограф"
        contacts:
          type: string
          example: "+7-999-123-45-67, photo@email.com"
        price:
          type: number
          format: decimal
          example: 50000.00
        booking_date:
          type: string
          format: date
          example: "2024-06-15"
        description:
          type: string
          example: "Профессиональная съемка свадебных мероприятий"
    ContractorEvent:
      type: object
      properties:
        contractor_event_id:
          type: integer
          example: 1
        contractor_id:
          type: integer
          example: 123
        event_id:
          type: integer
          example: 456
        assigned_at:
          type: string
          format: date-time
          example: "2024-01-15T14:30:00Z"
        comments:
          type: string
          example: "Предварительные договоренности по съемке"
    ContractorEvent2:
      type: object
      properties:
        contractor_event_id:
          type: integer
          example: 1
        contractor_id:
          type: integer
          example: 123
        event_id:
          type: integer
          example: 456
        assigned_at:
          type: string
          format: date-time
          example: "2024-01-15T14:30:00Z"
        comments:
          type: string
          example: "Обновил комментарии: фотограф проявил себя профессионально"          
    ContractorEventInput:
      type: object
      required:
        - contractor_id
      properties:
        contractor_id:
          type: integer
          example: 123
        comments:
          type: string
          example: "Предварительные договоренности по съемке"
    ContractorEventCommentsInput:
      type: object
      required:
        - comments
      properties:
        comments:
          type: string
          example: "Обновил комментарии: фотограф проявил себя профессионально"          
    Admin:
      type: object
      properties:
        admin_id:
          type: integer
          example: 1
        user_id:
          type: integer
          example: 123
        permissions:
          type: array
          items:
            type: string
            enum: [manage_contractors, manage_users, moderate_reviews, manage_events]
          example: ["manage_contractors", "moderate_reviews"]
        created_at:
          type: string
          format: date-time
          example: "2024-01-10T10:00:00Z"
    AdminInput:
      type: object
      required:
        - user_id
        - permissions
      properties:
        user_id:
          type: integer
          example: 123
        permissions:
          type: array
          items:
            type: string
            enum: [manage_contractors, manage_users, moderate_reviews, manage_events]
          example: ["manage_contractors", "moderate_reviews"]          
    Admin2:
      type: object
      properties:
        admin_id:
          type: integer
          example: 1
        user_id:
          type: integer
          example: 123
        permissions:
          type: array
          items:
            type: string
            enum: [manage_contractors, manage_users, moderate_reviews, manage_events]
          example: ["manage_contractors", "manage_users", "moderate_reviews"]
        created_at:
          type: string
          format: date-time
          example: "2024-01-10T10:00:00Z"
    AdminInput2:
      type: object
      required:
        - user_id
        - permissions
      properties:
        user_id:
          type: integer
          example: 123
        permissions:
          type: array
          items:
            type: string
            enum: [manage_contractors, manage_users, moderate_reviews, manage_events]
          example: ["manage_contractors", "manage_users", "moderate_reviews"]             
    Meeting:
      type: object
      properties:
        meeting_id:
          type: integer
          example: 1
        event_id:
          type: integer
          example: 123
        contractor_id:
          type: integer
          example: 456
        title:
          type: string
          example: "Обсуждение деталей свадебной съемки"
        meeting_date:
          type: string
          format: date-time
          example: "2024-06-15T15:00:00Z"
        location:
          type: string
          example: "Кофейня 'Central Perk'"
        description:
          type: string
          example: "Обсуждение локаций для съемки и временного графика"
        meeting_type:
          type: string
          enum: [contractor, family, shopping, fitting, planning]
          example: "contractor"
        reminder_minutes:
          type: integer
          example: 60
        created_at:
          type: string
          format: date-time
          example: "2024-01-10T10:00:00Z"
    MeetingInput:
      type: object
      required:
        - event_id
        - title
        - meeting_date
        - meeting_type
      properties:
        event_id:
          type: integer
          example: 123
        contractor_id:
          type: integer
          example: 456
        title:
          type: string
          example: "Обсуждение деталей свадебной съемки"
        meeting_date:
          type: string
          format: date-time
          example: "2024-06-15T15:00:00Z"
        location:
          type: string
          example: "Кофейня 'Central Perk'"
        description:
          type: string
          example: "Обсуждение локаций для съемки и временного графика"
        meeting_type:
          type: string
          enum: [contractor, family, shopping, fitting, planning]
          example: "contractor"
        reminder_minutes:
          type: integer
          example: 60          
    Meeting2:
      type: object
      properties:
        meeting_id:
          type: integer
          example: 1
        event_id:
          type: integer
          example: 123
        contractor_id:
          type: integer
          example: 456
        title:
          type: string
          example: "Обсуждение деталей свадебной съемки"
        meeting_date:
          type: string
          format: date-time
          example: "2024-07-02T15:00:00Z"
        location:
          type: string
          example: "Кофейня 'Central Perk'"
        description:
          type: string
          example: "Обсуждение локаций для съемки и временного графика"
        meeting_type:
          type: string
          enum: [contractor, family, shopping, fitting, planning]
          example: "contractor"
        reminder_minutes:
          type: integer
          example: 60
        created_at:
          type: string
          format: date-time
          example: "2024-01-10T10:00:00Z"
    MeetingInput2:
      type: object
      required:
        - event_id
        - title
        - meeting_date
        - meeting_type
      properties:
        event_id:
          type: integer
          example: 123
        contractor_id:
          type: integer
          example: 456
        title:
          type: string
          example: "Обсуждение деталей свадебной съемки"
        meeting_date:
          type: string
          format: date-time
          example: "2024-07-02T15:00:00Z"
        location:
          type: string
          example: "Кофейня 'Central Perk'"
        description:
          type: string
          example: "Обсуждение локаций для съемки и временного графика"
        meeting_type:
          type: string
          enum: [contractor, family, shopping, fitting, planning]
          example: "contractor"
        reminder_minutes:
          type: integer
          example: 60       





